/* Proudly Coded by Travis Kipp */
/* Created December 15, 2014 */
/* InvisaMage's Website Theme */

/* Entire Body */
body {
	background-image: url('../images/bg.jpg');
		background-attachment: fixed;
	text-align: center;
	color: #3399FF;
	padding: 0;
	margin: 0;
  padding-top: 65px;
}

/* Every Element */
* {
	font-family: Ubuntu;
	font-size: 103%;
	outline: 0;
}

/* Loading Animation */
.loading-animation {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -60px 0 0 -60px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 10px solid #19bee1;
}
.loading-animation:after {
  content: '';
  background: trasparent;
  width: 140%;
  height: 140%;
  position: absolute;
  border-radius: 100%;
  top: -20%;
  left: -20%;
  opacity: 0.7;
  box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
  animation: rotate .5s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

/* Preloading Styles */
.content {
	display: none;
}
.preload {
	background-color: #222222;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	z-index: 999;
}
.loading {
	padding-top: 25%;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

/* Makes the cursor a pointer on the navigation bar */
nav li:hover {
	cursor: pointer;
}

/* Font Information */
@font-face {
	font-family: Ubuntu;
	src: url(../fonts/ubuntu.ttf);
}

/* Table fix in Firefox */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

p {
	font-size: 120%;
	color: #3399FF;
}

.black {
	color: black;
}

.black-bold {
	color: black;
	font-weight: bold;
}

#search {
	font-family: sans-serif;
}

.title {
  	color: #246BB2;
    text-decoration: none;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-shadow: 0px 0px 5px;
	font-size: 400%;
	font-weight: bold;
	transition: .3s;
}
.title:hover {
	color: #00FF00; /* Green */
}
.title:link {
	text-decoration: none;
}

/* Clock Properties */
.clock {
	border-radius: 15px;
	border: 1px solid black;
	border-width:5px 0;
	display: inline-block;
	padding: 15px;
	font-size: 200%;
	color: #00FF00;
	background: rgba(0,0,0,0.2);
	cursor: help;
}

/* Counter Properties */
.counter {
	border-radius: 15px;
	border: 1px solid black;
	border-width:5px 0;
	display: inline-block;
	padding: 15px;
	font-size: 200%;
	color: #00FF00;
	background: rgba(0,0,0,0.2);
	cursor: help;
}

table {
	color: #3399FF;
}

/* Table Properties for Homepage */
.table-home {
	background: rgba(0,0,0,0.3);
}
.table-home, .table-home th, .table-home td {
	border: black 4px solid;
	border-collapse: collapse;
	font-size: 105%;
}
.table-home, .table-home th, .table-home td {
	padding: 5px;
}

/* Table Properties for the Footer */
.table-footer, .table-footer th, .table-footer td {
	font-size: 105%;
	text-align: left;
}
.table-footer, .table-footer th, .table-footer td {
	padding: 2px;
}

/* Table Properties for InvisaRant */
.table-ir {
	background: rgba(0,0,0,0.3);
}
.table-ir, .table-ir th, .table-ir td {
	border: black 4px solid;
	border-collapse: collapse;
	font-size: 105%;
}
.table-ir, .table-ir th, .table-ir td {
	padding: 5px;
}

/* Table Properties for FS */
.table-fs {
	background: rgba(0,0,0,0.3);
}
.table-fs, .table-fs th, .table-fs td {
	border: black 4px solid;
	border-collapse: collapse;
	font-size: 105%;
}
.table-fs, .table-fs th, .table-fs td {
	padding: 5px;
}

/* Table Properties for Contact*/
.table-contact {
	background: rgba(0,0,0,0.3);
}
.table-contact, .table-contact th, .table-contact td {
	border: black 4px solid;
	border-collapse: collapse;
	font-size: 105%;
}
.table-contact, .table-contact th, .table-contact td {
	padding: 5px;
}

/* Table Properties for Donate */
.table-donate {
	background: rgba(0,0,0,0.3);
}
.table-donate, .table-donate th, .table-donate td {
	border: black 4px solid;
	border-collapse: collapse;
	font-size: 105%;
}
.table-donate, .table-donate th, .table-donate td {
	padding: 5px;
}

/* Default Links, Underline From Centre */
.link {
	display: inline;
	vertical-align: top;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
	color: #246BB2;
	text-decoration: none;
	text-decoration-color: -moz-use-text-color;
	text-decoration-line: none;
	text-decoration-style: solid;
	text-shadow: 0px 0px 5px;
	transition: .4s;
	cursor: pointer;
}
.link:hover {
	text-decoration: none;
	color: #00FF00;
}
.link:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	right: 50%;
	bottom: 0;
	background: #3399FF;
	height: 2px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.link:hover:before, .link:focus:before, .link:active:before {
	left: 0;
	right: 0;
}

/* External Links for Web App, Underline From Centre */
.link-danger {
	display: inline;
	vertical-align: top;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
	color: #D9534F;
	text-decoration: none;
	text-decoration-color: -moz-use-text-color;
	text-decoration-line: none;
	text-decoration-style: solid;
	text-shadow: 0px 0px 5px;
	transition: .4s;
	cursor: pointer;
}
.link-danger:hover {
	text-decoration: none;
	color: #D9534F;
}
.link-danger:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	right: 50%;
	bottom: 0;
	background: #3399FF;
	height: 2px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.link-danger:hover:before, .link-danger:focus:before, .link-danger:active:before {
	left: 0;
	right: 0;
}
.default-danger {
  color: #a94442;
  text-decoration: none;
}
.default-danger:hover,
.default-danger:focus {
  color: #803432;
  text-decoration: underline;
}
#help {
	cursor: help;
}

/* Hidden Links - Blue */
.link-hidden-blue {
	display: inline-block;
	vertical-align: text-bottom;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
	color: #3399FF;
	text-decoration: none;
	transition: .4s;
	cursor: pointer;
}
.link-hidden-blue:hover {
	text-decoration: none;
}
.link-hidden-blue:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	right: 50%;
	bottom: 0;
	background: #3399FF;
	height: 2px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.link-hidden-blue:hover:before, .link:focus:before, .link:active:before {
	left: 0;
	right: 0;
}

/* Hidden Links - Green */
.link-hidden-green {
	display: inline-block;
	vertical-align: text-bottom;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
	color: #00FF00;
	text-decoration: none;
	transition: .4s;
	cursor: pointer;
}
.link-hidden-green:hover {
	text-decoration: none;
}
.link-hidden-green:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	right: 50%;
	bottom: 0;
	background: #3399FF;
	height: 2px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.link-hidden-green:hover:before, .link:focus:before, .link:active:before {
	left: 0;
	right: 0;
}

/* Definition - Underline From Centre - Gray Colour */
.definition {
	display: inline;
	vertical-align: top;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
	color: #7195B8;
	text-decoration: none;
	text-decoration-color: -moz-use-text-color;
	text-decoration-line: none;
	text-decoration-style: solid;
	text-shadow: 0px 0px 5px;
	transition: .4s;
	cursor: help;
}
.definition:hover {
	text-decoration: none;
	color: #7195B8;
}
.definition:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	right: 50%;
	bottom: 0;
	background: #3399FF;
	height: 2px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.definition:hover:before, .definition:focus:before, .definition:active:before {
	left: 0;
	right: 0;
}

/* Heading 1 Properties */
h1 {
	color: #00FF00;
}

/* Heading 2 Properties */
h2 {
	color: #00FF00;
}

/* Heading 3 Properties */
h3 {
	color: #00FF00;
}

/* Home Section */
.homeSection {
	border-radius: 15px;
	border: 1px solid black;
	border-width: 5px 0;
	position: relative;
	display: inline-block;
	padding: 10px;
	background: rgba(0,0,0,0.2);
	margin-left: auto;
    margin-right: auto;
    width: 30%;
}

/* News Section */
.newsSection {
	border-radius: 15px;
	border: 1px solid black;
	border-width: 5px 0;
	position: relative;
	display: inline-block;
	padding: 8px;
	background: rgba(0,0,0,0.2);
	margin-left: auto;
    margin-right: auto;
    width: 65%;
	font-size: 15px;
}

/* Computers Section */
.computersSection {
	border-radius: 15px;
	border: 1px solid black;
	border-width: 5px 0;
	position: relative;
	display: inline-block;
	padding: 8px;
	background: rgba(0,0,0,0.2);
	margin-left: auto;
    margin-right: auto;
    width: 65%;
}

/* About Section */
.aboutSection {
	border-radius: 15px;
	border: 1px solid black;
	border-width: 5px 0;
	position: relative;
	display: inline-block;
	padding: 8px;
	background: rgba(0,0,0,0.2);
	margin-left: auto;
    margin-right: auto;
    width: 65%;
}

/* Terms Section */
.termsSection {
	border-radius: 15px;
	border: 1px solid black;
	border-width: 5px 0;
	position: relative;
	display: inline-block;
	padding: 8px;
	background: rgba(0,0,0,0.2);
	margin-left: auto;
    margin-right: auto;
    width: 65%;
}

/* Privacy Section */
.privacySection {
	border-radius: 15px;
	border: 1px solid black;
	border-width: 5px 0;
	position: relative;
	display: inline-block;
	padding: 8px;
	background: rgba(0,0,0,0.2);
	margin-left: auto;
    margin-right: auto;
    width: 65%;
}

/* Archive Section */
.archiveSection {
	border-radius: 15px;
	border: 1px solid black;
	border-width: 5px 0;
	position: relative;
	display: inline-block;
	padding: 8px;
	background: rgba(0,0,0,0.2);
	margin-left: auto;
    margin-right: auto;
    width: 55%;
}

/* 404 Section */
.errorSection {
	border-radius: 15px;
	border: 1px solid black;
	border-width: 5px 0;
	position: relative;
	display: inline-block;
	padding: 8px;
	background: rgba(0,0,0,0.2);
	margin-left: auto;
    margin-right: auto;
    width: 65%;
}

/* Homepage Button */
.button1 {
   border: 1px solid #0a3c59;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   border-radius: 5px;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   text-shadow: #7ea4bd 0 1px 0;
   font-size: 16px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   cursor: pointer;
   font-weight: bold;
}

/* Menu for News */
#menu-news {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 1px solid black;
	border-width: 5px 0;
	position: absolute;
	top: 308px;
	width: 200px;
	background: rgba(0,0,0,0.3);
	font-size: 14px;
	left: 0px;
}
#menu-news li {
	list-style: none;
	transition: .3s;
	cursor: pointer;
	text-align: left;
	padding-left: 20px;
}
#menu-news li:hover {
	background: #4b545f;
}
#menu-news-nested li {
	padding-left: 40px;
}
#menu-news a {
	display: block;
	text-decoration: none;
	padding: .25em 0;
	transition: .3s;
	color: #246BB2;
    text-decoration: none;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-shadow: 0px 0px 10px;
}
#menu-news li a:hover {
	color: #00FF00;
}

/* Menu for FS */
#menu-fs {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 1px solid black;
	border-width:5px 0;
	position: absolute;
	top: 240px;
	width: 200px;
	background: rgba(0,0,0,0.3);
	left: 0px;
}
#menu-fs li {
	list-style: none;
	transition: .3s;
	text-align: left;
	padding-left: 20px;
}
#menu-fs li:hover {
	background: #4b545f;
}
#menu-fs a {
	display: block;
	text-decoration: none;
	padding: .25em 0;
	transition: .3s;
	color: #246BB2;
    text-decoration: none;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-shadow: 0px 0px 10px;
}
#menu-fs li a:hover {
	color: #00FF00;
}

/* Menu for Terms */
#menu-terms {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 1px solid black;
	border-width:5px 0;
	position: absolute;
	top: 185px;
	width: 200px;
	background: rgba(0,0,0,0.3);
	left: 0px;
}
#menu-terms li {
	list-style: none;
	transition: .3s;
	text-align: left;
	padding-left: 20px;
}
#menu-terms li:hover {
	background: #4b545f;
}
#menu-terms a {
	display: block;
	text-decoration: none;
	padding: .25em 0;
	transition: .3s;
	color: #246BB2;
    text-decoration: none;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-shadow: 0px 0px 10px;
}
#menu-terms li a:hover {
	color: #00FF00;
}

/* Menu for Privacy */
#menu-privacy {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 1px solid black;
	border-width:5px 0;
	position: absolute;
	top: 185px;
	width: 200px;
	background: rgba(0,0,0,0.3);
	left: 0px;
}
#menu-privacy li {
	list-style: none;
	transition: .3s;
	text-align: left;
	padding-left: 20px;
}
#menu-privacy li:hover {
	background: #4b545f;
}
#menu-privacy a {
	display: block;
	text-decoration: none;
	padding: .25em 0;
	transition: .3s;
	color: #246BB2;
    text-decoration: none;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-shadow: 0px 0px 10px;
}
#menu-privacy li a:hover {
	color: #00FF00;
}

/* Menu for About */
#menu-about {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 1px solid black;
	border-width:5px 0;
	position: absolute;
	top: 185px;
	width: 200px;
	background: rgba(0,0,0,0.3);
	left: 0px;
}
#menu-about li {
	list-style: none;
	transition: .3s;
	text-align: left;
	padding-left: 20px;
}
#menu-about li:hover {
	background: #4b545f;
}
#menu-about-nested li {
	padding-left: 40px;
}
#menu-about a {
	display: block;
	text-decoration: none;
	padding: .25em 0;
	transition: .3s;
	color: #246BB2;
    text-decoration: none;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-shadow: 0px 0px 10px;
}
#menu-about li a:hover {
	color: #00FF00;
}

/* Menu for Computers */
#menu-computers {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 1px solid black;
	border-width:5px 0;
	position: absolute;
	top: 185px;
	width: 200px;
	background: rgba(0,0,0,0.3);
	left: 0px;
}
#menu-computers li {
	list-style: none;
	transition: .3s;
	text-align: left;
	padding-left: 20px;
}
#menu-computers li:hover {
	background: #4b545f;
}
#menu-computers-nested li {
	padding-left: 40px;
}
#menu-computers a {
	display: block;
	text-decoration: none;
	padding: .25em 0;
	transition: .3s;
	color: #246BB2;
    text-decoration: none;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-shadow: 0px 0px 10px;
}
#menu-computers li a:hover {
	color: #00FF00;
}

/* Top of Page button */
.top {
	opacity: 0.5;
	transition: .3s;
}
.top:hover {
	opacity: .98;
}

/* Border on iOS Web App Images */
.iosimg {
	border: 1px solid black;
	border-width: 5px 5px;
}

/* New Footer Properties */
footer {
	border: 1px solid black;
	border-bottom-style: none;
	border-width: 5px 0;
	margin-left: auto;
    margin-right: auto;
	text-align: left;
	font-size: 100%;
	padding: 20px;
}
footer ul {
	list-style: none;
	padding: 0;
}

.copyright{
	font-size: 90%;
}

#alert {
    position: fixed;
    bottom: 0;
		left: 0;
    width: 100%;
		z-index: 1;
		font-size: 16px;
		margin: 0;
}

/* Homepage Message */
#alert-message {
    position: fixed;
    bottom: 0;
		left: 0;
    width: 100%;
		z-index: 1;
		font-size: 16px;
		margin: 0;
}

/* Homepage Survey Message */
#alert-survey {
    position: fixed;
    bottom: 0;
		left: 0;
    width: 100%;
		z-index: 1;
		font-size: 16px;
		margin: 0;
}

/* Donate Info */
#alert-donate {
    position: fixed;
    bottom: 0;
		left: 0;
    width: 100%;
		z-index: 1;
		font-size: 16px;
		margin: 0;
}

/* Stats Images */
.stats-browser-img {
	padding: 2px;
}

/* Glyphicon for external links */
.glyphicon-colour {
	color: #999999;
	font-size: 12px;
}

/* Glyphicon for Useful Links dropdown menu */
.glyphicon-useful {
	color: #999999;
	font-size: 12px;
}

#app-back {
	padding-right: 0px;
}

#app-navbar-InvisaMage {
	padding-left: 5px;
	padding-right: 0px;
}

#app-navbar-up {
	padding-left: 2px;
}

.well-center {
	width: 30%;
	margin-right: auto;
	margin-left: auto;
}

#stats-button {
	padding-bottom: 13px;
}
