/* Proudly Coded by Travis Kipp */
/* Created December 15, 2014 */
/* InvisaMage's Website Theme */

/* Entire Body */
body {
	background-color: #666666;
	color: white;
	text-align: center;
	padding: 0;
	margin: 0;
  padding-top: 55px;
}

/* Every Element */
* {
	outline: 0;
}

/* Change highlight color and text color on highlight */
::selection {
  background: black;
	color: white;
}
::-moz-selection {
  background: black;
	color: white;
}

/* Makes the cursor a pointer on the navigation bar */
nav li:hover {
	cursor: pointer;
}

/* Table fix in Firefox */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.black {
	color: black;
}
.black-bold {
	color: black;
	font-weight: bold;
}

.title {
  	color: #FFC157;
    text-decoration: none;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-shadow: 0px 0px 1px;
	font-size: 300%;
	transition: .3s;
}
.title:hover {
	color: #FFA100;
}
.title:link {
	text-decoration: none;
}

/* Default Links, Underline From Centre */
.link {
	display: inline;
	vertical-align: top;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	position: relative;
	overflow: hidden;
	color: #66a3ff !important;
	transition: .4s;
	cursor: pointer;
}
.link:hover {
	text-decoration: none;
	color: #a3ff66 !important;
}
.link:before {
	content: "";
	position: absolute;
	z-index: 1;
	left: 50%;
	right: 50%;
	bottom: 0;
	background: #000;
	height: 2px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.link:hover:before, .link:focus:before, .link:active:before {
	left: 0;
	right: 0;
}
#help {
	cursor: help;
}
.link-light {
	color: #99c2ff !important;
}

/* Definition - Underline From Centre - Gray color */
.definition {
	display: inline;
	vertical-align: top;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
	color: #a3ff66 !important;
	text-decoration: none;
	transition: .4s;
	cursor: help;
}
.definition:hover {
	text-decoration: none;
	color: #a3ff66 !important;
}
.definition:before {
	content: "";
	position: absolute;
	z-index: 1;
	left: 50%;
	right: 50%;
	bottom: 0;
	background: #66a3ff;
	height: 2px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.definition:hover:before, .definition:focus:before, .definition:active:before {
	left: 0;
	right: 0;
}

/* Heading Properties */
h1, h2, h3, h4, h5, h6 {
	color: #FFC157;
}

/* Menu for News */
#menu-news {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 1px solid black;
	border-width: 3px 0;
	position: absolute;
	top: 275px;
	width: 200px;
	background: rgb(52, 58, 64);
	font-size: 14px;
	left: 0px;
}
#menu-news li {
	list-style: none;
	transition: .3s;
	cursor: pointer;
	text-align: left;
	padding-left: 20px;
}
#menu-news li:hover {
	background: #4b545f;
}
#menu-news-nested li {
	padding-left: 40px;
}
#menu-news a {
	display: block;
	text-decoration: none;
	padding: .25em 0;
	transition: .3s;
	color: #66a3ff;
}
#menu-news li a:hover {
	color: #a3ff66;
}

/* Menu for FS */
#menu-mc {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 1px solid black;
	border-width:3px 0;
	position: absolute;
	top: 340px;
	width: 200px;
	background: rgb(52, 58, 64);
	left: 0px;
}
#menu-mc li {
	list-style: none;
	transition: .3s;
	text-align: left;
	padding-left: 20px;
}
#menu-mc li:hover {
	background: #4b545f;
}
#menu-mc a {
	display: block;
	text-decoration: none;
	padding: .25em 0;
	transition: .3s;
	color: #66a3ff;
}
#menu-mc li a:hover {
	color: #a3ff66;
}

/* Menu for FS */
#menu-fs {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 1px solid black;
	border-width:3px 0;
	position: absolute;
	top: 380px;
	width: 200px;
	background: rgb(52, 58, 64);
	left: 0px;
}
#menu-fs li {
	list-style: none;
	transition: .3s;
	text-align: left;
	padding-left: 20px;
}
#menu-fs li:hover {
	background: #4b545f;
}
#menu-fs a {
	display: block;
	text-decoration: none;
	padding: .25em 0;
	transition: .3s;
	color: #66a3ff;
}
#menu-fs li a:hover {
	color: #a3ff66;
}

/* Menu for TxtLock */
#menu-txtlock {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 1px solid black;
	border-width:3px 0;
	position: absolute;
	top: 380px;
	width: 200px;
	background: rgb(52, 58, 64);
	left: 0px;
}
#menu-txtlock li {
	list-style: none;
	transition: .3s;
	text-align: left;
	padding-left: 20px;
}
#menu-txtlock li:hover {
	background: #4b545f;
}
#menu-txtlock a {
	display: block;
	text-decoration: none;
	padding: .25em 0;
	transition: .3s;
	color: #66a3ff;
}
#menu-txtlock li a:hover {
	color: #a3ff66;
}
/* Menu for TidyNT */
#menu-tidynt {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 1px solid black;
	border-width:3px 0;
	position: absolute;
	top: 380px;
	width: 200px;
	background: rgb(52, 58, 64);
	left: 0px;
}
#menu-tidynt li {
	list-style: none;
	transition: .3s;
	text-align: left;
	padding-left: 20px;
}
#menu-tidynt li:hover {
	background: #4b545f;
}
#menu-tidynt a {
	display: block;
	text-decoration: none;
	padding: .25em 0;
	transition: .3s;
	color: #66a3ff;
}
#menu-tidynt li a:hover {
	color: #a3ff66;
}

th {
	text-align: center;
}

/* Menu for Terms */
#menu-terms {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 1px solid black;
	border-width:3px 0;
	position: absolute;
	top: 162px;
	width: 200px;
	background: rgb(52, 58, 64);
	left: 0px;
}
#menu-terms li {
	list-style: none;
	transition: .3s;
	text-align: left;
	padding-left: 20px;
}
#menu-terms li:hover {
	background: #4b545f;
}
#menu-terms a {
	display: block;
	text-decoration: none;
	padding: .25em 0;
	transition: .3s;
	color: #66a3ff;
}
#menu-terms li a:hover {
	color: #a3ff66;
}

/* Menu for Privacy */
#menu-privacy {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 1px solid black;
	border-width:3px 0;
	position: absolute;
	top: 162px;
	width: 200px;
	background: rgb(52, 58, 64);
	left: 0px;
}
#menu-privacy li {
	list-style: none;
	transition: .3s;
	text-align: left;
	padding-left: 20px;
}
#menu-privacy li:hover {
	background: #4b545f;
}
#menu-privacy a {
	display: block;
	text-decoration: none;
	padding: .25em 0;
	transition: .3s;
	color: #66a3ff;
}
#menu-privacy li a:hover {
	color: #a3ff66;
}

/* Menu for Site Information */
#menu-info {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 1px solid black;
	border-width:3px 0;
	position: absolute;
	top: 162px;
	width: 200px;
	background: rgb(52, 58, 64);
	left: 0px;
}
#menu-info li {
	list-style: none;
	transition: .3s;
	text-align: left;
	padding-left: 20px;
}
#menu-info li:hover {
	background: #4b545f;
}
#menu-info-nested li {
	padding-left: 40px;
}
#menu-info a {
	display: block;
	text-decoration: none;
	padding: .25em 0;
	transition: .3s;
	color: #66a3ff;
}
#menu-info li a:hover {
	color: #a3ff66;
}

/* Menu for Computers */
#menu-computers {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 1px solid black;
	border-width:3px 0;
	position: absolute;
	top: 185px;
	width: 200px;
	background: rgb(52, 58, 64);
	left: 0px;
}
#menu-computers li {
	list-style: none;
	transition: .3s;
	text-align: left;
	padding-left: 20px;
}
#menu-computers li:hover {
	background: #4b545f;
}
#menu-computers-nested li {
	padding-left: 40px;
}
#menu-computers a {
	display: block;
	text-decoration: none;
	padding: .25em 0;
	transition: .3s;
	color: #66a3ff;
}
#menu-computers li a:hover {
	color: #a3ff66;
}

/* New Footer Properties */
footer {
	border: 1px solid black;
	border-bottom-style: none;
	border-width: 2px 0;
	margin-left: auto;
    margin-right: auto;
	text-align: left;
	font-size: 100%;
	padding: 20px;
}
footer ul {
	list-style: none;
	padding: 0;
}
footer h4 {
	color: #FFC157;
}

.copyright{
	font-size: 90%;
}

#terms-banner, #privacy-banner {
    position: fixed;
    bottom: 0;
		left: 0;
    width: 100%;
		z-index: 1;
		font-size: 16px;
		margin: 0;
}

/* Homepage Event Banner */
#event-banner, #info-banner {
    position: fixed;
    bottom: 0;
		left: 0;
    width: 100%;
		z-index: 1;
		font-size: 16px;
		margin: 0;
}

#event-banner-content a {
	cursor: pointer;
}

/* Homepage Survey Message */
#alert-survey {
    position: fixed;
    bottom: 0;
		left: 0;
    width: 100%;
		z-index: 1;
		font-size: 16px;
		margin: 0;
}

#stats-button, #achievements-button, #settings-button {
	color: rgba(255,255,255,.5);
}
#stats-button:hover, #achievements-button:hover, #settings-button:hover {
	color: white;
}

.color-white {
	color: #f2f2f2;
}

.cur-point {
	cursor: pointer;
}
.cur-nope {
	cursor: not-allowed;
}

/* New 404 Image */
#img_container-404 {
    position:relative;
    display:inline-block;
    text-align:center;
}
#btn-404 {
    position:absolute;
    bottom:10px;
    right:10px;
}

/* Dark Modals */
.modal-content {
  position: relative;
  background-color: #343a40;
  border: 1px solid rgba(0,0,0,.125);
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  outline: 0;
}
.modal-header {
	background-color: #32383E;
  padding: 15px;
  border-bottom: 1px solid rgba(0,0,0,.125);
	border-top-left-radius: .50rem;
	border-top-right-radius: .50rem;
}
.modal-footer {
	background-color: #32383E;
  padding: 15px;
  border-top: 1px solid rgba(0,0,0,.125);
	border-bottom-left-radius: .50rem;
	border-bottom-right-radius: .50rem;
}
.modal-title {
  color: white;
}
.table-hover > tbody > tr:hover {
  background-color: #737373;
}

.black, .black-bold {
  color: white;
}

.text-success {
  color: #5CB85C;
}

.text-danger {
  color: #D9534F;
}

#up-chevron {
	color: rgba(255,255,255,.5);
}
#up-chevron:hover {
	color: #fff;
	cursor: pointer;
}

#nav-name {
	color: rgba(255,255,255,.5);
}
#nav-name:hover {
	color: #fff;
	cursor: pointer;
}

/* Prevent Clicks */
.not-active {
	pointer-events: none;
}

/* Easter egg accordian headers */
#collapse-heading {
	color: #FFC157;
}

.table-ir td, .table-ir th, .table-txtlock td, .table-txtlock th {
	vertical-align: middle;
}

/*Bootstrap 4 overrides*/
.btn {
	cursor: pointer;
}

/*
.navbar-nav .active {
	background-color: #394047;
}
*/

a .carousel-control-prev:hover, a .carousel-control-next:hover {
	cursor: pointer;
}

.popover {
	background-color: #454D54;
}
.popover.popover-left::after {
	border-left-color: red;
}
.popover-header {
    color: white;
		font-weight: bold;
    font-size: 15px;
		background-color: #394046;
		border-bottom-color: black;
}
.popover-body {
    color: white;
    font-size: 14px;
		background-color: #454D54;
}

.dropdown-item:focus, .dropdown-item:hover {
	background-color: #b8bfc6;
}

/* News Tabs */
.nav-tabs-news .nav-item-news.show .nav-link-news, .nav-tabs-news .nav-link-news.active {
	background-color: rgba(69, 77, 84, 0.5) !important;
	color: #a3ff66;
	border-right-color: black !important;
	border-top-color: black !important;
	border-left-color: black !important;
	border-bottom-color: rgb(69, 77, 84) !important;
}
.nav-tabs-news .nav-item-news.show .nav-link-news, .nav-tabs-news .nav-link-news:hover {
	color: #a3ff66;
}
.nav-tabs-news .nav-link-news:hover {
	border-color: #343A40 #343A40 transparent #343A40;
	background-color: rgba(69, 77, 84, 0.5);
}
.nav-tabs-news .nav-link-news {
	color: #66a3ff;
}
.nav-tabs-news {
	border-bottom: 1px solid black;
}
.tab-content-news {
	border-color: white !important;
	background-color: rgba(69, 77, 84, 0.5);
	max-width: 50rem;
}

/* News Pills */
.nav-pills-news .nav-link.active, .show > .nav-pills .nav-link-news {
	background-color: #454d54;
	color: #a3ff66;
}
.nav-pills-news .nav-link-news {
	color: #66a3ff;
}
.nav-pills-news .nav-link-news:hover {
	background-color: #454d54;
	color: #a3ff66;
}

kbd {
	background-color: #fff;
	color: #212529;
}

/* CLose button */
.close {
	color: white;
}
.close:hover {
	color: #D9534F;
}

.jumbotron {
	background-color: #22262A;
}

/* Homepage Recent News Tabs */
.card-news {
	background-color: #454d54;
}

.nav-tabs-home .nav-item-home.show .nav-link-home, .nav-tabs-home .nav-link-home.active {
	background-color: #454d54 !important;
	color: #a3ff66;
	border-color: black black #454d54 black !important;
}
.nav-tabs-home .nav-item-home.show .nav-link-home, .nav-tabs-home .nav-link-home:hover {
	color: #a3ff66;
}
.nav-tabs-home .nav-link-home:hover {
	border-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5) transparent rgba(0, 0, 0, 0.5);
	background-color: rgba(69, 77, 84, .2);
}
.nav-tabs-home .nav-link-home {
	color: #66a3ff;
}
.nav-tabs-home {
	border-bottom: 1px solid black;
}
.tab-content-home {
	background-color: #454d54;
}
.card-header-invis {
	border-bottom: 0px;
}

/* Home Pills */
.nav-pills-home .nav-link.active, .show > .nav-pills .nav-link-home {
	background-color: #454D54;
	color: #a3ff66;
}
.nav-pills-home .nav-link-home {
	color: #66a3ff;
}
.nav-pills-home .nav-link-home:hover {
	background-color: #454D54;
	color: #a3ff66;
}

.form-check-label, .form-check-input {
	cursor: pointer;
}

/* Disabled class */
.form-check.disabled .form-check-label {
  color: #cccccc;
}

/* Override Typeahead dropdown Menu */
.dropdown-menu .active .dropdown-item {
	background-color: #b8bfc6 !important;
}
