/* Proudly Coded by Travis Kipp */
/* Created December 15, 2014 */
/* InvisaMage's Website Theme */

html {
	position: relative;
	min-height: 100%;
	scrollbar-color: #464748 #22262a;
}

/* Entire Body */
body {
	background-color: #666666;
	color: white;
	text-align: center;
	padding: 0;
	margin: 0;
	margin-bottom: 577px;
	padding-top: 55px;
}

/* Make the bottom margin smaller on bigger displays */
@media(min-width:576px){
	body {
		margin-bottom: 267px;
	}
}
@media(min-width:768px) and (min-width:992px) and (min-width:1200px){
	body {
		margin-bottom: 220px;
	}
}

/* Every Element */
* {
	outline: 0;
}

/* Change highlight color and text color on highlight */
::selection {
  background: black;
	color: white;
}
::-moz-selection {
  background: black;
	color: white;
}

/* Makes the cursor a pointer on the navigation bar */
nav li:hover {
	cursor: pointer;
}

/* Table fix in Firefox */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.black {
	color: black;
}
.black-bold {
	color: black;
	font-weight: bold;
}

.title {
  	color: #FFC157;
    text-decoration: none;
	font-size: 300%;
	transition: .3s;
}
.title:hover {
	color: #FFA100;
}
.title:link {
	text-decoration: none;
}

/* Default Links */
.link {
	color: #66a3ff !important;
	cursor: pointer;
	text-decoration: none;
	transition: .3s;
}

.link:hover {
	background-color: #a3ff66;
	text-decoration: none;
	color: #000 !important;
}

.link-light {
	color: #99c2ff !important;
}

/* Definition */
.definition {
	color: #000 !important;
	background-color: #a3ff66;
	cursor: pointer;
	text-decoration: none;
	transition: .3s;
}
.definition:hover {
	cursor: help;
	text-decoration: none;
}

/* Heading Properties */
h1, h2, h3, h4, h5, h6 {
	color: #FFC157;
}

/* Global Menu Class */
.menu {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 1px solid black;
	border-width: 2px 0;
	position: absolute;
	width: 175px;
	background: rgb(52, 58, 64);
	font-size: 14px;
	left: 0px;
	z-index: 1;
}
.menu li {
	list-style: none;
	transition: .3s;
	cursor: pointer;
	text-align: left;
	padding-left: 20px;
}
.menu li:hover {
	background: #4b545f;
}
.menu div li {
	padding-left: 40px;
}
.menu a {
	display: block;
	text-decoration: none;
	padding: .25em 0;
	transition: .3s;
	color: #66a3ff;
}
.menu li a:hover {
	color: #a3ff66;
}

/* Special Menu Styles */
.menu-news {
	top: 231px;
}
.menu-news li {
	color: #FFC157;
}
.menu-mc {
	top: 334px;
}
.menu-fs {
	top: 372px;
}
.menu-txtlock {
	top: 372px;
}
.menu-tidynt {
	top: 372px;
}
.menu-terms {
	top: 165px;
}
.menu-privacy {
	top: 165px;
}
.menu-info {
	top: 165px;
}

/* New Footer Properties */
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #343a40;
	text-align: left;
	font-size: 100%;
	padding: 20px;
}
footer ul {
	list-style: none;
	padding: 0;
}
footer h4 {
	color: #FFC157;
}

.copyright{
	font-size: 90%;
}

/* Homepage Banners */
#event-banner, #info-banner, #legal-banner {
    position: fixed;
    bottom: 0;
		left: 0;
    width: 100%;
		z-index: 1;
		font-size: 16px;
		margin: 0;
}

#event-banner-content a {
	cursor: pointer;
}

#stats-button, #achievements-button, #settings-button {
	color: rgba(255,255,255,.5);
}
#stats-button:hover, #achievements-button:hover, #settings-button:hover {
	color: rgba(255,255,255,.75);
}

/* New 404 Image */
#img_container-404 {
    position:relative;
    display:inline-block;
    text-align:center;
}
#btn-404 {
    position:absolute;
    bottom:10px;
    right:10px;
}

/* Dark Modals */
.modal-content {
  position: relative;
  background-color: #343a40;
  border: 1px solid rgba(0,0,0,.125);
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  outline: 0;
}
.modal-header {
	background-color: #32383E;
  padding: 15px;
  border-bottom: 1px solid rgba(0,0,0,.125);
	border-top-left-radius: .50rem;
	border-top-right-radius: .50rem;
}
.modal-footer {
	background-color: #32383E;
  padding: 15px;
  border-top: 1px solid rgba(0,0,0,.125);
	border-bottom-left-radius: .50rem;
	border-bottom-right-radius: .50rem;
}
.modal-title {
  color: white;
}
.table-hover > tbody > tr:hover {
  background-color: #737373;
}

.black, .black-bold {
  color: white;
}

.text-success {
  color: #5CB85C;
}

.text-danger {
  color: #D9534F;
}

#up-chevron {
	color: rgba(255,255,255,.5);
}
#up-chevron:hover {
	color: rgba(255,255,255,.75);
	cursor: pointer;
}

#nav-name {
	color: rgba(255,255,255,.5);
}
#nav-name:hover {
	color: rgba(255,255,255,.75);
	cursor: pointer;
}

/* Easter egg accordion headers */
#collapse-heading {
	color: #FFC157;
}

.table-txtlock td, .table-txtlock th, .table-achievements td, .table-achievements th {
	vertical-align: middle;
}

th {
	text-align: center;
}

/* Bootstrap 4 overrides 
 *
 *
 */
 .card-header {
	color: #FFC157;
}

.custom-control-label {
	cursor: pointer;
}


.custom-control-input:checked ~ .custom-control-label::before {
	border-color: #000;
	background-color: #000;
}
.custom-range::-webkit-slider-thumb {
	background-color: #000 !important;
}
.custom-range::-moz-range-thumb {
	background-color: #000 !important;
}
.custom-range::-ms-thumb {
	background-color: #000 !important;
}

.btn {
	cursor: pointer;
}

/*
.navbar-nav .active {
	background-color: #394047;
}
*/

a .carousel-control-prev:hover, a .carousel-control-next:hover {
	cursor: pointer;
}

.popover {
	background-color: #454D54;
}
.popover.popover-left::after {
	border-left-color: red;
}
.popover-header {
    color: white;
		font-weight: bold;
    font-size: 15px;
		background-color: #394046;
		border-bottom-color: black;
}
.popover-body {
    color: white;
    font-size: 14px;
		background-color: #454D54;
}

/* News Tabs */
.nav-tabs-news .nav-item-news.show .nav-link-news, .nav-tabs-news .nav-link-news.active {
	background-color: #55595d !important;
	color: #a3ff66;
	border-right-color: black !important;
	border-top-color: black !important;
	border-left-color: black !important;
	border-bottom-color: #55595d !important;
}
.nav-tabs-news .nav-item-news.show .nav-link-news, .nav-tabs-news .nav-link-news:hover {
	color: #a3ff66;
}
.nav-tabs-news .nav-link-news:hover {
	border-color: #343A40 #343A40 transparent #343A40;
	background-color: rgba(69, 77, 84, 0.5);
}
.nav-tabs-news .nav-link-news {
	color: #66a3ff;
}
.nav-tabs-news {
	border-bottom: 1px solid black;
}
.tab-content-news {
	background: linear-gradient(rgba(85, 89, 93, 1), RGBA(85, 89, 93, 0) 50rem);
	max-width: 50rem;
}

/* News Pills */
.nav-pills-news .nav-link.active, .show > .nav-pills .nav-link-news {
	background-color: #55595d;
	color: #a3ff66;
}
.nav-pills-news .nav-link-news {
	color: #66a3ff;
}
.nav-pills-news .nav-link-news:hover {
	background-color: #55595d;
	color: #a3ff66;
}

kbd {
	background-color: #fff;
	color: #212529;
}

/* CLose button */
.close {
	color: white;
}
.close:hover {
	color: #D9534F !important;
}

.jumbotron {
	background-color: #22262A;
}

/* Homepage Recent News Tabs */
.card-news {
	background-color: #454d54;
}

.nav-tabs-home .nav-item-home.show .nav-link-home, .nav-tabs-home .nav-link-home.active {
	background-color: #454d54 !important;
	color: #a3ff66;
	border-color: black black #454d54 black !important;
}
.nav-tabs-home .nav-item-home.show .nav-link-home, .nav-tabs-home .nav-link-home:hover {
	color: #a3ff66;
}
.nav-tabs-home .nav-link-home:hover {
	border-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5) transparent rgba(0, 0, 0, 0.5);
	background-color: rgba(69, 77, 84, .2);
}
.nav-tabs-home .nav-link-home {
	color: #66a3ff;
}
.nav-tabs-home {
	border-bottom: 1px solid black;
}
.tab-content-home {
	background-color: #454d54;
}
.card-header-invis {
	border-bottom: 0px;
}

.dropdown-menu {
	background-color: #6c757d;
}
.dropdown-item {
	color: #fff;
}
.dropdown-item:focus, .dropdown-item:hover {
	background-color: #9299a0;
	color: #fff;
}

/* Home Pills */
.nav-pills-home .nav-link.active, .show > .nav-pills .nav-link-home {
	background-color: #454D54;
	color: #a3ff66;
}
.nav-pills-home .nav-link-home {
	color: #66a3ff;
}
.nav-pills-home .nav-link-home:hover {
	background-color: #454D54;
	color: #a3ff66;
}

.form-check-label, .form-check-input {
	cursor: pointer;
}

/* Disabled class */
.custom-control-input:disabled ~ .custom-control-label {
  color: #cccccc !important;
}

/* Override Typeahead dropdown Menu */
.dropdown-menu .active .dropdown-item {
	background-color: #9299a0 !important;
}

.info {
    position: fixed;
    bottom: 20px;
	right: 20px;
	z-index: 99;
}

/* PNotify Overrides */
body > .ui-pnotify {
	z-index: 1060 !important;
}
.ui-pnotify-title {
	color: inherit;
	text-align: left;
}

.ui-pnotify-text{
	text-align: left;
}

/* Affix */
.menu.sps {
	position: absolute;
  }
  
.menu.sps--blw {
	position: fixed;
	top: 64px;
  }

/* Search Bar Animation */
#search-div {
	transition: 1s;
}

/* Pre Changelog Class */
.changelog-pre {
	text-align: left;
	color: white;
}