/* Proudly Coded by Travis Kipp */
/* Created August 19, 2016 */
/* InvisaMage's Website Light Theme */
/* Overrides styles from styles.css*/

/* Entire Body */
html {
	scrollbar-color: unset;
}

body {
	background-color: #d9d9d9;
	color: #212529;
}

::selection {
  background: #4495d4;
	color: white;
}
::-moz-selection {
  background: #4495d4;
	color: white;
}

p {
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
}

.title {
  color: #000;
}
.title:hover {
	color: gray;
}

.card-header {
	color: #000;
}

.menu-news, .menu-fs, .menu-mc, .menu-txtlock, .menu-terms, .menu-privacy, .menu-info, .menu-tidynt {
  background-color: rgba(230, 230, 230, 0.8);
}
.menu-news a, .menu-fs a, .menu-mc a, .menu-txtlock a, .menu-terms a, .menu-privacy a, .menu-info a, .menu-tidynt a {
  color: #0066ff;
}
.menu-news li a:hover, .menu-fs li a:hover, .menu-mc li a:hover, .menu-txtlock li a:hover, .menu-terms li a:hover, .menu-privacy li a:hover, .menu-info li a:hover, .menu-tidynt li a:hover {
  color: black;
}
.menu-news li:hover, .menu-fs li:hover, .menu-mc li:hover, .menu-txtlock li:hover, .menu-terms li:hover, .menu-privacy li:hover, .menu-info li:hover, .menu-tidynt li:hover {
  background-color: #FFD42B;
}

.menu-news li {
	color: #000 !important;
}

/* News Pills */
.nav-pills-news .nav-link.active, .show > .nav-pills .nav-link-news {
	background-color: #e3e3e3;
	border: 1px solid black;
	color: #000;
}
.nav-pills-news .nav-link-news {
	color: #0066ff;
}
.nav-pills-news .nav-link-news:hover {
	background-color: #e3e3e3;
	color: #000 !important;
}

/* Home Pills */
.nav-pills-home .nav-link.active, .show > .nav-pills .nav-link-home {
	background-color: #e3e3e3;
	color: #000;
}
.nav-pills-home .nav-link-home {
	color: #0066ff;
}
.nav-pills-home .nav-link-home:hover {
	background-color: #e3e3e3;
	color: #000 !important;
}

.panel-body, .panel-footer, .panel-header-top, .panel-header-top-2 {
  color: black;
  background-color: rgba(230, 230, 230, 0.8);
}

.panel-header-top-2 h3 {
	padding-top: 10px;
	padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Default Link */
.link {
  color: #0066ff !important;
}
.link:hover {
	background: #FFD42B;
	color: black !important;
	border-bottom: none;
	box-shadow: none;
	transition: background none;
}
.link:before {
	z-index: 1;
	background: black; /* Underline Color */
	height: 2px;
}

/* Definition */
.definition {
	color: black !important;
	background: #FFD42B;
	text-decoration-line: underline
}
.definition:hover {
	color: black !important;
	border-bottom: none;
	box-shadow: none;
	transition: background none;
}

/* News Tabs */
.nav-tabs-news .nav-link-news {
	color: #0066ff;
}
.nav-tabs-news {
  border-bottom: 1px solid black;
}
.nav-tabs-news li a {
	color: black;
}
.nav-tabs-news .nav-item-news.show .nav-link-news, .nav-tabs-news .nav-link-news.active {
	background-color: rgba(230, 230, 230, 0.8) !important;
	color: #000;
	border-bottom-color: rgba(230, 230, 230, 0.8) !important;
}
.nav-tabs-news .nav-item-news.show .nav-link-news, .nav-tabs-news .nav-link-news:hover {
	color: #000;
}
.nav-tabs-news .nav-link-news:hover {
	border-color: #343A40 #343A40 transparent #343A40;
	background-color: transparent;
}

/* Homepage Recent News Tabs */
.card-news {
	background-color: #bfbfbf;
}
.tab-content-news {
	background: linear-gradient(rgba(227, 227, 227, 1), rgba(227, 227, 227, 0) 50rem);
}

.nav-pills li a {
  color: black;
}
.nav-pills > li.active > a,
.nav-pills > li.active > li:hover,
.nav-pills > li.active > a:focus {
  color: #0066ff !important;
  background-color: rgba(230, 230, 230, 0.8);
  border: 1px solid black;
}
.nav-pills li a:hover {
	color: #0066ff !important;
  background-color: rgba(230, 230, 230, 0.8);
}

/* Home Tabs */
.nav-tabs-home .nav-link-home {
	color: #0066ff;
}
.nav-tabs-home {
  border-bottom: 1px solid black;
}
.nav-tabs-home li a {
	color: black;
}
.nav-tabs-home .nav-item-home.show .nav-link-home, .nav-tabs-home .nav-link-home.active {
	background-color: rgba(230, 230, 230, 0.9) !important;
	color: #000;
	border-bottom-color: rgba(230, 230, 230, 0.9) !important;
}
.nav-tabs-home .nav-item-home.show .nav-link-home, .nav-tabs-home .nav-link-home:hover {
	color: #000;
}
.nav-tabs-home .nav-link-home:hover {
	border-color: #343A40 #343A40 transparent #343A40;
	background-color: transparent;
}
.card-news, .tab-content-home {
	background-color: rgba(230, 230, 230, 0.9);
}

.dropdown-menu {
	background-color: #fff;
}
.dropdown-item {
	color: #000;
}
.dropdown-item:focus, .dropdown-item:hover {
	background-color: #d9d9d9;
	color: #000;
}

footer {
	background-color: #E9ECEF;
}

.modal-title, .modal-body {
	color: black;
}
.modal-content {
  position: relative;
  background-color: #F8F9FA;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  outline: 0;
}
.modal-footer {
  border-top: 1px solid #e5e5e5;
	background-color: #F0F1F2;
}
.modal-header {
  border-bottom: 1px solid #e5e5e5;
	background-color: #F0F1F2;
}

.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}

.black, .black-bold {
  color: black;
}

.text-success {
  color: #007829;
}

.text-danger {
  color: #a94442;
}

/* Override default black popovers */
.popover {
	background-color: #ffffff;
}
.popover-header {
    color: black;
		font-weight: bold;
    font-size: 15px;
		background-color: #f7f7f7;
		border-bottom-color: #ebebeb;
}
.popover-body {
    color: black;
    font-size: 14px;
		background-color: #ffffff;
}

/* Modal Close button */
.close {
	color: black;
}
.close:hover {
	color: #D9534F;
}

/* Easteregg modal accordian */
.panel-default > .panel-heading + .panel-collapse > .panel-body {
	color: black;
}

kbd {
	background-color: #212529;
	color: #fff;
}

/* Navigation bar */
#stats-button, #achievements-button, #settings-button {
	color: rgba(0,0,0,.5);
}
#stats-button:hover, #achievements-button:hover, #settings-button:hover {
	color: rgba(0,0,0,.7);
}

#up-chevron {
	color: rgba(0,0,0,.5);
}
#up-chevron:hover {
	color: rgba(0,0,0,.7);
	cursor: pointer;
}

#nav-name {
	color: rgba(0,0,0,.5);
}
#nav-name:hover {
	color: rgba(0,0,0,.7);
	cursor: pointer;
}

/*
.navbar-nav .active {
	background-color: #d2d9df;
}
*/

#collapse-heading {
	color: #0066ff;
}

/* Override Typeahead dropdown Menu */
.dropdown-menu .active .dropdown-item {
	background-color: #d9d9d9 !important;
}

.jumbotron {
	background-color: #f8f9fa;
}

/* Override background color*/
.cmd {
	background-color: transparent !important;
}

@keyframes terminal-blink {
	0%, 100% {
			background-color: var(--background, transparent);
			color: var(--color, #000);
	}
	50% {
			background-color: var(--color, #000);
			color: var(--background, #000);
	}
}
