/* Proudly Coded by Travis Kipp */
/* Created August 19, 2016 */
/* InvisaMage's Website Light Theme */
/* Only changes styles which need to be changed (will not work without styles.css)*/

/* Entire Body */
body {
	background-color: #d9d9d9;
	text-align: center;
	color: black;
}

::selection {
  background: #4495d4;
	color: white;
}
::-moz-selection {
  background: #4495d4;
	color: white;
}

p {
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  color: #c156ff;
}

.title {
  	color: #c156ff;
    text-decoration: none;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-shadow: 0px 0px 1px;
	font-size: 300%;
	transition: .3s;
}
.title:hover {
	color: #B23380;
}

/* Definition - Underline From Centre - Gray color */
.definition {
	color: #579600 !important;
}
.definition:hover {
	color: #579600 !important;
}
.definition:before {
	background: black;
	z-index: 1;
}

#menu-news, #menu-fs, #menu-mc, #menu-txtlock, #menu-terms, #menu-privacy, #menu-info, #menu-tidynt {
  background-color: rgba(230, 230, 230, 0.8);
}
#menu-news a, #menu-fs a, #menu-mc a, #menu-txtlock a, #menu-terms a, #menu-privacy a, #menu-info a, #menu-tidynt a {
  color: black;
}
#menu-news li a:hover, #menu-fs li a:hover, #menu-mc li a:hover, #menu-txtlock li a:hover, #menu-terms li a:hover, #menu-privacy li a:hover, #menu-info li a:hover, #menu-tidynt li a:hover {
  color: #c156ff;
}
#menu-news li:hover, #menu-fs li:hover, #menu-mc li:hover, #menu-txtlock li:hover, #menu-terms li:hover, #menu-privacy li:hover, #menu-info li:hover, #menu-tidynt li:hover {
  background-color: #d2d9df;
}

.panel-body, .panel-footer, .panel-header-top, .panel-header-top-2 {
  color: black;
  background-color: rgba(230, 230, 230, 0.8);
}

.panel-header-top-2 h3 {
	padding-top: 10px;
	padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.link {
  color: #0066ff;
}
.link:hover {
	color: #579600 !important;
}
.link:before {
	z-index: 1;
	background: #FF6600; /* Underline Color */
	height: 2px;
}

/* News Tabs */
.nav-tabs-news {
  border-bottom: 1px solid black;
}
.nav-tabs-news li a {
	color: black;
}
.nav-tabs-news .nav-item-news.show .nav-link-news, .nav-tabs-news .nav-link-news.active {
	background-color: rgba(230, 230, 230, 0.8) !important;
	color: #579600;
	border-bottom-color: rgba(230, 230, 230, 0.8) !important;
}
.nav-tabs-news .nav-item-news.show .nav-link-news, .nav-tabs-news .nav-link-news:hover {
	color: #579600;
}
.nav-tabs-news .nav-link-news:hover {
	border-color: #343A40 #343A40 transparent #343A40;
	background-color: transparent;
}

/* Homepage Recent News Tabs */
.card-news {
	background-color: #bfbfbf;
}
.tab-content-news {
	background: linear-gradient(rgba(227, 227, 227, 1), rgba(227, 227, 227, 0) 50rem);
}

.nav-pills li a {
  color: black;
}
.nav-pills > li.active > a,
.nav-pills > li.active > li:hover,
.nav-pills > li.active > a:focus {
  color: #0066ff;
  background-color: rgba(230, 230, 230, 0.8);
  border: 1px solid black;
}
.nav-pills li a:hover {
	color: #0066ff;
  background-color: rgba(230, 230, 230, 0.8);
}

/* Home Tabs */
.nav-tabs-home {
  border-bottom: 1px solid black;
}
.nav-tabs-home li a {
	color: black;
}
.nav-tabs-home .nav-item-home.show .nav-link-home, .nav-tabs-home .nav-link-home.active {
	background-color: rgba(230, 230, 230, 0.9) !important;
	color: #579600;
	border-bottom-color: rgba(230, 230, 230, 0.9) !important;
}
.nav-tabs-home .nav-item-home.show .nav-link-home, .nav-tabs-home .nav-link-home:hover {
	color: #579600;
}
.nav-tabs-home .nav-link-home:hover {
	border-color: #343A40 #343A40 transparent #343A40;
	background-color: transparent;
}
.card-news, .tab-content-home {
	background-color: rgba(230, 230, 230, 0.9);
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #e7e7e7;
	color: #555;
}
.dropdown-menu > li > a {
	color: #555;
}
.dropdown-menu {
	background-color: #F8F8F8;
}

footer {
	background-color: #E9ECEF;
}

footer h4 {
  color: #c156ff;
}
.modal-title, .modal-body {
	color: black;
}
.modal-content {
  position: relative;
  background-color: #F8F9FA;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  outline: 0;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
	background-color: #F0F1F2;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
	background-color: #F0F1F2;
}

.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}

.black, .black-bold {
  color: black;
}

.text-success {
  color: #3c763d;
}

.text-danger {
  color: #a94442;
}

/* Override default black popovers */
.popover {
	background-color: #ffffff;
}
.popover.top .arrow:after {
  border-top-color: white;
}
.popover.right .arrow:after {
  border-right-color: white;
}
.popover-title {
    color: black;
		font-weight: bold;
    font-size: 15px;
		background-color: #f7f7f7;
		border-bottom-color: #ebebeb;
}
.popover-content {
    color: black;
    font-size: 14px;
		background-color: #ffffff;
}

/* Modal Close button */
.close {
	color: black;
}
.close:hover {
	color: #D9534F;
}

/* Easteregg modal accordian */
.panel-default > .panel-heading + .panel-collapse > .panel-body {
	color: black;
}

kbd {
	background-color: #212529;
	color: #fff;
}

/* Navigation bar */
#stats-button, #achievements-button, #settings-button {
	color: rgba(0,0,0,.5);
}
#stats-button:hover, #achievements-button:hover, #settings-button:hover {
	color: rgba(0,0,0,.7);
}

#up-chevron {
	color: rgba(0,0,0,.5);
}
#up-chevron:hover {
	color: rgba(0,0,0,.7);
	cursor: pointer;
}

#nav-name {
	color: rgba(0,0,0,.5);
}
#nav-name:hover {
	color: rgba(0,0,0,.7);
	cursor: pointer;
}

/*
.navbar-nav .active {
	background-color: #d2d9df;
}
*/

.jumbotron {
	background-color: #f8f9fa;
}

/* Override background color*/
.cmd {
	background-color: transparent !important;
}

@keyframes terminal-blink {
	0%, 100% {
			background-color: var(--background, transparent);
			color: var(--color, #000);
	}
	50% {
			background-color: var(--color, #000);
			color: var(--background, #000);
	}
}
